/* src/components/Header.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background: rgba(40, 70, 140, 0.5);
}

.scrolled {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-content {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  width: auto;
  margin-right: 0px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ccc;
}

.nav-buttons {
  display: flex;
  gap: 2px;
}

.call-button {
  background-color: #28a745;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.call-button:hover {
  background-color: #1c7430;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.mobile-icons {
  display: flex;
  gap: 62px;
}

.icon {
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.desktop-only {
  display: flex;
}

@media (max-width: 768px) {
  .navbar {
    height: var(--mobile-navbar-height, 63.3px); /* Default mobile height */
  }
  .menu-toggle {
    display: block;
  }
  .nav-links {
    display: none;
  }
  .nav-buttons {
    display: none;
  }
  .mobile-menu .quote-button,
  .mobile-menu .call-button {
    display: block;
  }
}

@media (min-width: 769px) {
  .navbar {
    height: var(--desktop-navbar-height, 64px); /* Default desktop height */
  }
}

.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(40, 70, 140, 0.93);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.mobile-menu .nav-link {
  font-size: 18px;
}

.main-content {
  background: #f1f1f1;
  padding: 80px 16px 20px;
}